files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDRDCCAiwCCQDrUFcxxPjU0zANBgkqhkiG9w0BAQsFADBkMQswCQYDVQQGEwJQ
      VDEPMA0GA1UECAwGTGlzYm9uMQ8wDQYDVQQHDAZMaXNib24xDzANBgNVBAoMBmpw
      aW5obzEiMCAGCSqGSIb3DQEJARYTanBlLnBpbmhvQGdtYWlsLmNvbTAeFw0yMTAz
      MTMyMzE0NDNaFw0yMjAzMTMyMzE0NDNaMGQxCzAJBgNVBAYTAlBUMQ8wDQYDVQQI
      DAZMaXNib24xDzANBgNVBAcMBkxpc2JvbjEPMA0GA1UECgwGanBpbmhvMSIwIAYJ
      KoZIhvcNAQkBFhNqcGUucGluaG9AZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEF
      AAOCAQ8AMIIBCgKCAQEA2iB2bFfSYqh3VKCFzUeO9+Sv3l+PgaizcOej0/dQGiuX
      wGntdZ1atN8sg91jwb186MkiAbssf/u2lPoKjrS0PYn0vPfiVnmKMAfuICH+DZOq
      QItD1C1Gao4kV5iOWpD2hpulJwm+hLXTZ/5r5kw2JEUKZR286HFPGav8x6u3wrb0
      bNuG7i+x8/9WazI7TldR2eXkCcKfApNAjtvqVfIBpOsPr+QnS26shIxtnLAlWoh0
      EUgmS9Xrksl+sRUK/ospKjkdyuMX3G9ERQfya51wua13yOVAjX8sFkfzseEOS7RA
      OZDExDVMW0PEGYI8HfxcMJC1/POprRe65tlKeuO2YQIDAQABMA0GCSqGSIb3DQEB
      CwUAA4IBAQB/owmv9cioCRqj0OFMC5QC/PQda4RgMRqDsGiwYKt96zaq9S5Xdabk
      /oqJha6ZcjyRTRPyjsGZR+UgtfWnlRZ4WwOJGiH5Bqd95h8nsefinSA9UJf5R5Ld
      6UyAuvGXe83e6/iJeAXqgkb8+bzhtOKUyGhQuYk3ZUQ7Q17S54oe/+h7d4Glx5kP
      empb6ABCafk1GoO53p5MhxdTfxMkqisAaCLcT7G+W6M1UxlPhX4jO2ORYjk6bYm2
      D6Hfj2pT0B50JpSjv3bJug0//NWIVJlhj9koFgHksq0t94Ty5awYv2A0hu6XLVLn
      GHXkCj3yjwpwP0QmvsDczZ9Q8P5tAq64
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDaIHZsV9JiqHdU
      oIXNR4735K/eX4+BqLNw56PT91AaK5fAae11nVq03yyD3WPBvXzoySIBuyx/+7aU
      +gqOtLQ9ifS89+JWeYowB+4gIf4Nk6pAi0PULUZqjiRXmI5akPaGm6UnCb6EtdNn
      /mvmTDYkRQplHbzocU8Zq/zHq7fCtvRs24buL7Hz/1ZrMjtOV1HZ5eQJwp8Ck0CO
      2+pV8gGk6w+v5CdLbqyEjG2csCVaiHQRSCZL1euSyX6xFQr+iykqOR3K4xfcb0RF
      B/JrnXC5rXfI5UCNfywWR/Ox4Q5LtEA5kMTENUxbQ8QZgjwd/FwwkLX886mtF7rm
      2Up647ZhAgMBAAECggEAANhrXRQiDpvUipFss1T5quBKBjScm8YJnABp1CJ7Pv64
      QdinQPNxLI5I3+H1xwRy/Xv6E8Oj8oMJPB6T9+WfZTWpqynSyL8D2BfPxnQbRfYy
      jLl9c88RHMycO3Kt6o/xRKhJxZL2GBGUVizYQjY9Z3qVBbtNxiDaS6EtA6EYvzpw
      ds9l3BlC/B4gG2+9HlpjHFx/6uXwwT577BWGCKyIjPfSGl2f1MGbB1kHKkE6wFVT
      KeLXwAA8tNKbWT59DdOOlxGNFLCzyHuMNN81R3CGdTGts9G+V9OEFAQSCKjKQA9X
      BIJOV5Tx7BCoPaOLwo9cYRA19H9P/tkQFp1I8M+s2QKBgQD1kdhOJFzzA6Y2TPNa
      f/2p8VsfOCHs4i5WEgb2J5PSQ2pp76MpQYYh+JgCqrBlsNsTZK6L064rUMAgE3kl
      CZ5MffTEr03b0R8OrZQtSHAtHE2vAUECUnVKHOxMPPFgO6nXbcQLOj52odHsAsO+
      ptSZ9E+VWccaU5u68cnoD079CwKBgQDjZDj4yrVu7zqpoWyuUd88UcDptYzjU44S
      Ot7p5z628D8QZdHth3PYMzRnovy4Cls9L54AbBLhdR9exBKG5jL+T2Z3GckquVeT
      6KwPETt6Uqdym9qBLxYS0ui01NyfGIRIskbT21AHGZ3h3oSjqGtY/Svxj8E6hsen
      lvOcx69FwwKBgQDmWWdgbWWvIvYvq2D+vF6Soe7Kyxmvnb6/R+u1zQwxSMGyG3Ke
      iXMrvIfCwJ/007+8Yk4EpYyT3wxJSlrx7iLKN8B5GsPa9T+/wfzjuTZYaltIVNHJ
      PtX8rkLNhMEadvzrMnCZ44miOEq0qyc4WD/HJk/clblZLaI/6vxtLKb4XwKBgQCK
      fsRkY7JVusdUAcmb8qmwp2qD7du9qWpimBClDf8YlQMUDa/qqBFaoPVOGesqfMRN
      Y+8r+qcVQqy0n19ZYmO0mM+jwsTPjMtWfuQs2SYMvsLV/y76d59OH780RGGLVPdc
      /5g7+NupN2T96PWIaE/Zh3l4S0I5T1XTMRF3b/fE2QKBgQCnUIe86v2sRWzI3qWR
      rQr+98MFqd3ReUTLGOPPP/TZw7h0BavlXZOqtpeFPIlP8cZ27KtJvWHL7OhGED3z
      ybNRmIrCiINLKud4VGf6C1loXTdBWZgMkg3vmtawqKuOnv4ZjNZ2VmFAhFEdWizi
      6T5d7OskuDIcGleNrQUPy3y+Eg==
      -----END PRIVATE KEY-----
